@import "./null";
@import "./fonts";

$color5: #e33e54;

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat";
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	position: relative;
}

.main {
	&__title {
	}

	&__description {
	}
	&:has(:last-child) {
		padding-bottom: 136px;
		@media (max-width: 1040px) {
			padding-bottom: 70px;
		}
		@media (max-width: 800px) {
			padding-bottom: 56px;
		}
	}
}

.description {
	&__container {
		padding-top: calc(81 / 1920 * 100) + vw;
		@media (max-width: 769px) {
			padding-top: calc(40px + 20 * (100vw / 769));
		}
		@media (max-width: 500px) {
			padding-top: 16px;
		}
	}

	&__text {
		line-height: 187%;
		padding-left: 2px;
		font-size: 16px;
		span {
			color: $color5;
		}
		@media (max-width: 500px) {
			font-size: 14px;
			line-height: calc(26 / 14);
		}
	}
}

._container {
	max-width: 1258px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	@media (max-width: 769px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.subtitle {
	font-weight: 600;
	font-size: 40px;
	line-height: calc(49 / 40);
	padding-top: 16px;
	position: relative;
	&:before {
		width: 74px;
		height: 5px;
		content: "";
		display: block;
		background-color: $color5;
		position: absolute;
		top: 0;
		left: 0;
	}
	@media (max-width: 960px) {
		font-size: 30px;
		line-height: calc(37 / 30);
		padding-top: 16px;
	}
	@media (max-width: 767px) {
		font-size: 20px;
		line-height: 150%;
	}
}

@mixin socmedia($color) {
	color: $color;
	font-size: 23px;
	a {
		cursor: pointer;
		transition: all 200ms ease-out 0s;
		&:hover {
			color: #fefefe;
			text-shadow: 0 0 10px $color;
		}
	}
	& a:not(:last-child) {
		margin-right: 30px;
	}
	& a:nth-child(3) {
		margin-right: 44px;
	}
}

.alert {
	transition: all 300ms ease-in-out 0s;
	width: 100%;
	height: 100vh;
	background-color: #00000089;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	font-weight: 700;
	color: white;
	z-index: 100;
}

@import "./_header";
@import "./_maintitle";
@import "./_reasons";
@import "./footer";
