.header__logo 
	img(src="@img/logo.png", alt="")
.header__icon.header__burger.burger
	span
nav.nav.header__nav 
	ul.nav__list
		li.nav__item: a(href="#" class='nav__link') каталог товаров
		li.nav__item: a(href="#" class='nav__link') достaвка и оплата
		li.nav__item: a(href="#" class='nav__link') цены
		li.nav__item: a(href="#" class='nav__link') контакты
p.header__phone-number +7 (812) 
	span 509 21 98
p.header__call-me перезвоните мне
.header__social-media
	i._icon-vk 
	i._icon-tg
	i._icon-inst 
	i._icon-whatsapp
.header__buttons 
	div.header__button.header__icon: i._icon-search 
	div.header__button.header__icon: i._icon-heart 
	div.header__button.header__icon.header__cart: i._icon-cart 
